@model IEnumerable<DesingYourParadise.Models.Proyecto>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de proyectos</h1>

<a href="cliente/index" class="badge badge-info">Volver a clientes</a>




@if (ViewBag.MuestraTabla == false)
{
    <p>El cliente no tiene proyectos</p>
}

@if (ViewBag.MuestraTabla == true)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Nombre Proyecto
                </th>
                <th>
                    # Dormitorios
                </th>
                <th>
                    # Baños completos
                </th>
                <th>
                    # Medios baños
                </th>
                <th>
                    Sala y cocina integrados
                </th>
                <th>
                    Cuarto de pilas abierto
                </th>
                <th>
                    Tamaño Terraza
                </th>
                <th>
                    Tipo de piso
                </th>
                <th>
                    Muebles de cocina
                </th>
                <th>
                    Metros de construcción
                </th>
                <th>
                    Costo
                </th>
                <th>
                    Detalles
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProyecto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProyecto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dormitorios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bathrooms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HalfBathrooms)
                </td>
                <td>
                    @switch (item.SalaMasCocina)
                    {
                        case true:
                            <span>Sí</span>
                            break;
                        case false:
                            <span>No</span>
                            break;
                    }
                </td>
                <td>
                    @switch (item.PilasAbierta)
                    {
                        case true:
                            <span>Sí</span>
                            break;
                        case false:
                            <span>No</span>
                            break;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Terraza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Piso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mueble)
                </td>
                <td>
                    @switch (item.Metros)
                    {
                        case Metros.cincuenta:
                            <span>50m2-80m2</span>
                            break;
                        case Metros.ochenta:
                            <span>80m2-100m2</span>
                            break;
                        case Metros.cien:
                            <span>100m2-150m2</span>
                            break;
                        case Metros.cientocincuenta:
                            <span>150m2-200m2</span>
                            break;
                        case Metros.doscientos:
                            <span>200m2-300m2</span>
                            break;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Costo)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { Id_Proyecto = item.IdProyecto })
                    <!--Orden del actionLink:  "texto", "vista", "controlador"-->
                </td>

                <td>
                    @Html.ActionLink("Editar", "Edit", new { Id_Proyecto = item.IdProyecto })
                    <!--Orden del actionLink:  "texto", "vista", "controlador"-->
                </td>

            </tr>
            }
        </tbody>
    </table>

}



