@model IEnumerable<DesingYourParadise.Models.Proyecto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Nombre Proyecto
            </th>
            <th>
                # Dormitorios
            </th>
            <th>
                # Baños completos
            </th>
            <th>
                # Medios baños
            </th>
            <th>
                Sala y cocina integrados
            </th>
            <th>
                Cuarto de pilas abierto
            </th>
            <th>
                Tamaño Terraza
            </th>
            <th>
                Tipo de piso
            </th>
            <th>
                Muebles de cocina
            </th>
            <th>
                Metros de construcción
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProyecto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProyecto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dormitorios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bathrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.halfBathrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaMasCocina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PilasAbierta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.terraza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.piso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mueble)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.metros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
