@model IEnumerable<DesingYourParadise.Models.Proyecto>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de proyectos</h1>

<p>
    <a href="cliente/index">Volver a clientes</a>
</p>

@if (ViewBag.MuestraTabla == false)
{
    <p>El cliente no tiene proyectos</p>
}

@if (ViewBag.MuestraTabla == true)
{
    <table class="table table-striped table-info">
        <thead>
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Nombre Proyecto
                </th>
                <th>
                    # Dormitorios
                </th>
                <th>
                    # Baños completos
                </th>
                <th>
                    # Medios baños
                </th>
                <th>
                    Sala y cocina integrados
                </th>
                <th>
                    Cuarto de pilas abierto
                </th>
                <th>
                    Tamaño Terraza
                </th>
                <th>
                    Tipo de piso
                </th>
                <th>
                    Muebles de cocina
                </th>
                <th>
                    Metros de construcción
                </th>
                <th>
                    Costo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdProyecto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreProyecto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dormitorios)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bathrooms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.halfBathrooms)
                    </td>
                    <td>
                        @switch (item.SalaMasCocina)
                        {
                            case true:
                                <span>Sí</span>
                                break;
                            case false:
                                <span>No</span>
                                break;
                        }
                    </td>
                    <td>
                        @switch (item.PilasAbierta)
                        {
                            case true:
                                <span>Sí</span>
                                break;
                            case false:
                                <span>No</span>
                                break;
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.terraza)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.piso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mueble)
                    </td>
                    <td>
                        @switch (item.metros)
                        {
                            case Metros.cincuenta:
                                <span>50m2-80m2</span>
                                break;
                            case Metros.ochenta:
                                <span>80m2-100m2</span>
                                break;
                            case Metros.cien:
                                <span>100m2-150m2</span>
                                break;
                            case Metros.cientocincuenta:
                                <span>150m2-200m2</span>
                                break;
                            case Metros.doscientos:
                                <span>200m2-300m2</span>
                                break;
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.costo)
                    </td>

                </tr>

                <!--
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                -->
            }
        </tbody>
    </table>

}



